.place__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    color: #FFFFFF;
    min-width: 460px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place__title {
        min-width: 440px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__title {
        font-size: 2.5em;
        line-height: 1;
        min-width: 340px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__title {
        padding-left: 16px;
        font-size: 2em;
        line-height: 1;
        min-width: 288px;
        padding-top: 48px;
    }
    .place__title:first-child {
        padding-top: 0;
    }
}

