.place__paragraph-top {
    max-width: 484px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
    grid-area: text;
    padding-top: 48px;
}

@media screen and (max-width: 768px) {
    .place__paragraph-top {
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph-top {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        line-height: 1.5;
        color: #FFFFFF;
        margin: 0;
        padding-top: 32px;
        padding-bottom: 0;
        padding-left: 16px;
        max-width: 288px;
    }
}

