.header__logo {
    width: 176px;
    height: 52px;
    background-image: url(../../../logo/logo.svg);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__logo {
        background-size: 100%;
        width: 142px;
        height: 42px;
    }
}