@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_ru/header__lang-link_ru.css);
@import url(./__lang-link/_en/header__lang-link_en.css);

.header {
    width: 92%;
    font-family: 'Inter', Arial, sans-serif;
    margin: 0 auto;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 320px) {
    .header {
        padding-top: 16px;
    }
}

