.place__main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    .place__main-text {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .place__main-text {
        grid-area: text;
        max-width: 288px;
    }
}

