.footer__copyright {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
    margin-top: -16px;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        margin-top: 12%;
        flex-direction: column-reverse;
        padding-left: 5%;
    }
}

