@font-face {
    src: url('../Inter Desktop/Inter-Regular.otf') format('otf');
    font-family: 'Inter';
}

@font-face {
    src: url('../Inter Desktop/Inter-Bold.otf') format('otf');
    font-family: 'Inter';
    font-weight: bold;
}

@font-face {
    src: url('../Inter Desktop/Inter-SemiBold.otf') format('otf');
    font-family: 'Inter';
    font-weight: semibold;
}

