.lead__image {
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 928px;
        width: 100%;
    }

    figure {
        margin-block-start: 0px;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
}

@media screen and (max-width: 768px) {
     .lead__image {
        max-width: 768px;
        min-height: 437px;
        object-fit: contain;
    }
}

@media screen and (max-width: 320px) {
     .lead__image {
        max-width: 320px;
        min-height: 200px;
        width: 109%;
    }
}