.lead__image {
    max-width: 984px;
    min-height: 615px;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 945px;
        min-height: 580px;
    }
}

@media screen and (max-width: 768px) {
     .lead__image {
        max-width: 768px;
        min-height: 437px;
        object-fit: contain;
    }
}

@media screen and (max-width: 320px) {
     .lead__image {
        max-width: 320px;
        min-height: 200px;
    }
}