.header__lang-link-En {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    width: 29px;
    height: 28px;
    text-decoration-line: blink;
}

@media screen and (max-width: 320px) {
    .header__lang-link-En {
        width: 22px;
        height: 24px;
        font-size: 1.2em;
    }
}

