@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__paragraph/intro__paragraph.css);
@import url(./__list-numbers/intro__list-numbers.css);

.intro {
    width: 60%;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 1024px) {
    .intro {
        width: 67%;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: 100%;
    }
}


