.lead__subtitle {
    max-width: 640px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    padding-top: 33px;
    padding-bottom: 46px;
    text-align: center;
    margin: 0 auto;
}


@media screen and (max-width: 1024px) {
    .lead__subtitle {
        width: 60%;
        font-size: 1.7em;
        line-height: 1.2;
    }
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        width: 73%;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        padding-top: 16px;
        padding-bottom: 40px;
        width: 100%;
        max-width: 288px;
        font-size: 1em;
        line-height: 1.2;
    }
}

