@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__background/cover__background.css);
@import url(./__text/cover__text.css);

.cover {
    max-width: 1184px;
    min-height: 740px;
    font-family: 'Inter', 'Arial', sans-serif;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover {
        min-width: 1024px;
        min-height: 640px;
   }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .cover {
        min-width: 768px;
        min-height: 480px;
   }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .cover {
        margin-bottom: 64px;
        margin-top: 62px;
        min-width: 320px;
        min-height: 200px;
   }
}

