.header__lang-link_inactive {
    text-decoration-line: none;
    font-size: 24px;
    line-height: 28px;
    transition: 1s linear;
}

.header__lang-link_inactive:hover {
    opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__lang-link_inactive {
        font-size: 1.2em;
        min-width: 22px;
        min-height: 24px;
        line-height: 24px;
    }
}
