.cover__background {
    width: 100%;
    min-height: 740px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        object-fit: fill;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__background {
        max-width: 320px;
        min-height: 200px;
    }
}

