@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__website-url-heading/place__website-url-heading.css);
@import url(./__website-link/place__website-link.css);
@import url(./__main-text/place__main-text.css);
@import url(./__paragraph/place__paragraph.css);

.place {
    max-width: 984px;
    display: grid;
    font-family: 'Inter', 'Arial', sans-serif;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "main weblink" "image text";
    column-gap: 40px;
    align-self: self-start;
}

@media screen and (max-width: 768px) {
    .place {
        width: 768px;
        max-width: 95%;
        grid-template-columns: 1fr fit-content(352px);
        align-items: flex-start;
    }
}

@media screen and (max-width: 320px) {
    .place {
        grid-template-columns: repeat(1, 44%);
        grid-template-rows: 1fr auto;
        grid-template-areas: "main main" "image ." "text text";
        place-content: baseline;
    }
}

