@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.page {
    width: 1280px;
    max-width: 100%;
    margin: auto;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.body {
    margin: auto;
}

.header__logo {
    position: absolute;
    width: 176px;
    height: 52px;
    left: 48px;
    top: 28px;
    background-image: url(../logo/rtlogo.png);
}

.header__lang-link-Ru {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    width: 30px;
    height: 28px;
    margin-top: 46px;
    margin-right: 18px;
}

.header__lang-link-En {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    width: 29px;
    height: 28px;
    text-decoration-line: blink;
}

.header {
    width: 90%;
    margin: 0 auto;
    padding-top: 28px;
    display: flex;
    justify-content: flex-end;
}

.lead {
    width: 80%;
    height: 962px;
    margin: 0 auto;
    padding: 128px 48px 0 48px;
}

.lead__title {
    margin: 0 auto;
    width: 56%;
    padding: 0px 280px 0 217px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
    text-align: right;
}

.lead__subtitle {
    max-width: 640px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    padding: 33px 246px 46px 340px;
    color: #FFFFFF;
    text-align: -webkit-center;
    margin: 0;
}

.lead__image {
    max-width: 984px;
    min-height: 615px;
}

.lead__caption {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    padding-top: 8px;
}

.intro {
    width: 60%;
}

.intro__title {
    width: 90%;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    padding: 114px 0 0 131px;
    margin: 0;
}

.intro__text {
    width: 90%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding: 40px 0 0 148px;
    margin: 0;
}

.intro__list {
    margin: 0;
    width: 90%;
    list-style: none;
    padding-top: 32px;
    padding-left: 148px;
}

.intro__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

.intro__list-numbers {
    font-weight: normal;
}

.photo-grid {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
    padding-top: 92px;
    margin: 0 auto;
}

.photo-grid__item {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.place__title {
    width: 20%;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    color: #FFFFFF;
    grid-area: main;
    padding-top: 80px;
    align-self: end;
}

.place__image {
    width: 100%;
    padding-top: 48px;
    grid-area: image;
}

.place__website {
    width: 40%;
    grid-area: weblink;
    padding-top: 108px;
    align-self: end;
}

.place__website-url-heading {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #AAAAAA;
    margin: 0;
    letter-spacing: 2px;
    padding-bottom: 12px;
}

.place__website-link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.place__paragraph-top {
    max-width: 484px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
    grid-area: text;
    padding-top: 48px;
}

.place__paragraph-bottom {
    max-width: 484px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
    grid-area: text;
}

.places {
    width: 90%;
    padding: 14px 148px 0 148px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.place {
    max-width: 984px;
    min-height: 660px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "main weblink" "image text";
    column-gap: 40px;

}

.cover {
    max-width: 1184px;
    margin: 0 auto;
    position: relative;
    margin-top: 92px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: "title title" "subtitle subtitle"
}

.cover__title {
    max-width: 560px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    z-index: 9;
    margin: 0;
    grid-area: title;
    place-self: center;
    text-align: -webkit-center;
    padding-top: 20%;
}

.cover__subtitle {
    max-width: 360px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    z-index: 8;
    margin: 0;
    grid-area: subtitle;
    place-self: center;
    text-align: -webkit-center;
    padding-bottom: 21%;
    padding-top: 3%;
}

.cover__overlay {
    max-width: 100%;
    max-height: 740px;
    background: #2A2C2F;
    opacity: 0.3;
    z-index: 5;
    grid-column: 1/3;
    grid-row: 1/5;
    transition: 1s linear;
    padding-top: 60%;
}

.cover__overlay:hover {
    opacity: 0.6;
}

.cover__background {
    width: 100%;
    min-height: 740px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

.footer {
    max-width: 1184px;
    margin: 0 auto;
    margin-top: 92px;
    margin-bottom: 24px;
}

.footer__navigation {
    display: flex;
    width: 100%;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
}

.footer__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 18px;
}

.footer__copyright {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: auto;
}

@media screen and (max-width: 1024px) {
    .lead {
        width: 100%;
        padding: 128px 48px 0 0px;
    }

    .lead__title {
        width: 59%;
        padding: 0px 280px 0 217px;
        font-size: 5.5em;
        line-height: 1;
        color: #FFFFFF;
        text-align: center;
    }

    .lead__subtitle {
        font-size: 1.7em;
        line-height: 1.2;
        padding: 33px 246px 46px 254px;
        text-align: -webkit-center;
    }

    .lead__image {
        max-width: 945px;
        min-height: 580px;
    }

    .intro {
        width: 67%;
    }

    .intro__title {
        font-size: 3em;
        line-height: 1.2;
        padding: 114px 0 0 41px;
    }

    .intro__text {
        font-size: 1em;
        line-height: 1.5;
        padding: 41px 0 0 34px;
    }

    .intro__list {
        padding-left: 36px;
    }

    .places {
        padding: 14px 148px 0 48px;
    }

    .cover__overlay {
        padding-top: 69%;
    }

    .cover__title {
        padding-top: 24%;
    }

    .cover__subtitle {
        padding-top: 3%;
    }

    .cover__background {
        object-fit: fill;
    }
}

@media screen and (max-width: 768px) {
    .header__logo {
        position: absolute;
        width: 176px;
        height: 52px;
        left: 48px;
        top: 17px;
    }

    .lead {
        width: 100%;
        max-height: 862px;
        margin: 0 auto;
        padding: 128px 48px 0 0px;
    }

    .lead__title {
        width: 78%;
        padding: 0px 280px 0 75px;
    }

    .lead__subtitle {
        padding: 33px 114px 46px 112px;
        width: 73%;
    }

    .lead__image {
        max-width: 768px;
        min-height: 437px;
        object-fit: contain;
    }

    .lead__caption {
        padding-top: 0px;
        padding-left: 24px;
    }

    figure {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    .intro {
        width: 100%;
    }

    .intro__title {
        padding: 0px 0 0 24px;
    }

    .intro__text {
        padding: 41px 0 0 24px;
    }

    .intro__list {
        padding-left: 24px;
    }

    .photo-grid {
        max-width: 95%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .places {
        padding: 0px 148px 0px 24px;
    }

    .place__paragraph-top {
        padding-bottom: 24px;
    }

    .place {
        width: 768px;
        max-width: 95%;
        display: grid;
        grid-template-columns: 1fr fit-content(380px);
    }

    .place__title {
        font-size: 3em;
        line-height: 1;
    }

    .place__main-text {
        width: 100%;
    }

    .cover {
        max-width: 768px;
    }

    .cover__title {
        padding-top: 18%;
    }

    .cover__subtitle {
        padding-bottom: 13%;
    }

    .cover__overlay {
        padding-top: 59%;
    }

    .cover__background {
        min-height: 480px;
    }

    .footer {
        max-width: 768px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 320px) {
    .page {
        width: 320px;
        max-width: 100%;
    }

    .header {
        padding-top: 30px;
    }

    .header__logo {
        background-size: 100%;
        width: 142px;
        height: 42px;
        left: 16px;
        top: 16px;
    }

    .header__lang-link-Ru {
        width: 22px;
        height: 24px;
        margin-top: 46px;
        margin-right: 18px;
        font-size: 1.2em;
    }

    .header__lang-link-En {
        width: 22px;
        height: 24px;
        font-size: 1.2em;
    }

    .lead {
        max-width: 320px;
        max-height: 390px;
        padding: 52px 48px 0 0px;
    }

    .lead__title {
        max-width: 288px;
        max-height: 88px;
        padding: 0px 280px 0px 16px;
        font-size: 2.5em;
        line-height: 1.2;
    }

    .lead__subtitle {
        padding: 16px 116px 40px 16px;
        width: 100%;
        max-width: 288px;
        max-height: 40px;
        font-size: 1em;
        line-height: 1.2;
    }

    .lead__image {
        max-width: 320px;
        min-height: 200px;
    }

    .lead__caption {
        max-width: 159px;
        max-height: 14px;
        line-height: 0;
        letter-spacing: 0.15em;
        padding-left: 16px;
    }

    .intro__title {
        padding: 64px 0 0 16px;
        width: 75%;
        max-width: 288px;
        max-height: 70px;
        font-size: 2em;
        line-height: 1.2;
    }

    .intro__text {
        padding: 41px 0 0 16px;
    }

    .intro__list {
        padding-left: 16px;
    }

    .photo-grid {
        max-width: 90%;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 64px;
    }

    .places {
        padding: 0px 148px 0px 0px;
        max-width: 320px;
        max-height: 4786px;
    }

    .place {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr auto;
        grid-template-areas: "main main" "image ." "text text";
    }

    .place__website {
        display: none;
    }

    .place__main-text {
        display: flex;
        flex-direction: column;
        grid-area: text;
        max-width: 288px;
    }

    .place__paragraph-top {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        line-height: 1.5;
        color: #FFFFFF;
        margin: 0;
        padding-top: 32px;
        padding-bottom: 0;
        padding-left: 16px;
        max-width: 288px;
    }

    .place__paragraph-bottom {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        line-height: 1.5;
        color: #FFFFFF;
        margin: 0;
        padding-top: 24px;
        padding-left: 16px;
    }

    .place__title {
        padding-left: 16px;
        font-size: 2em;
        line-height: 1;
        max-width: 288px;
        width: 100%;
        padding-top: 48px;
    }

    .place__image {
        padding-top: 32px;
    }

    .cover {
        margin-top: 64px;
    }

    .cover__title {
        padding-top: 7%;
        max-height: 70px;
        max-width: 288px;
        font-size: 2em;
        line-height: 1.2;
    }

    .cover__subtitle {
        max-width: 288px;
        font-size: 1em;
        line-height: 1;
    }

    .cover__background {
        max-width: 320px;
        min-height: 200px;
    }

    .footer {
        max-width: 320px;
        margin-top: 0px;
    }

    .footer__navigation {
        flex-direction: column;
    }

    .footer__link {
        font-size: 1.5em;
        line-height: 2;
    }

    .footer__copyright {
        margin-top: 48px;
        margin-left: 16px;
    }
}